body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background-color: #f58220;
}

table{
  color: #fff; 
  font-size: 39px;
  background-color: #f58220 !important;
}

th{
  color: #fff !important;
  background-color: #f58220 !important; /* Warna header tabel */
}

td{
  color: #fff !important;
  background-color: #f58220 !important; /* Warna header tabel */
}

p{
  font-size: 30px;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}